<%= form_for [refinery, :admin, @resource_category] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @resource_category,
              :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker',
              :current_locale => Globalize.locale %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.resource_categories.admin.resource_categories.resource_category'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete') -%>
<% end -%>
